<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Look for Cleaner', listings_path%></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>

      <% if current_user.profile == nil %>
        <li><%= link_to 'Create Profile', new_profile_path%></li>
      <% else %>
        <!-- <li><%= link_to 'Post Available Date', new_listing_path%></li> -->
        <li><%= link_to 'View Your Profile', current_user.profile%></li>
        
      <% end %>


    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <% end %>

  </ul>
</nav>
