
<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>

      <th><%= model_class.human_attribute_name(:burnaby) %></th>
      <th><%= model_class.human_attribute_name(:richmond) %></th>
      <th><%= model_class.human_attribute_name(:north_vancouver) %></th>
      <th><%= model_class.human_attribute_name(:west_vancouver) %></th>
      <th><%= model_class.human_attribute_name(:yale_town) %></th>
      <th><%= model_class.human_attribute_name(:gas_town) %></th>

      <th><%= model_class.human_attribute_name(:price) %></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.id, profile_path(profile) %></td>
        <td><%= profile.first_name + " " + profile.last_name %></td>
        <td><%= profile.burnaby %></td>
        <td><%= profile.richmond %></td>
        <td><%= profile.north_vancouver %></td>
        <td><%= profile.west_vancouver %></td>
        <td><%= profile.yale_town %></td>
        <td><%= profile.gas_town %></td>
        <td><%= profile.price %></td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
